    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Faccia a faccia</h2>
                <p>
                    Dove c’è disuguaglianza c’è tanta rabbia, troppa
                    paura, poca pace e molta infelicità.  Il covid ha
                    reso ancora più evidente la cultura della
                    disuguaglianza in cui siamo immersi nella quale
                    spesso si chiama merito la fortuna di essere nati
                    nella famiglia giusta, di aver fatto l’incontro
                    giusto o di aver sviluppato le passioni
                    giuste. L’eredità e i contatti umani di cui si può
                    disporre, infatti, hanno un peso determinante
                    sulla posizione sociale e sulla qualità della vita
                    che una persona riesce a raggiungere. La
                    differenza di reddito, inoltre, si basa su
                    un’attribuzione arbitraria di valore e non è quasi
                    mai il risultato di uno sforzo maggiore di un
                    singolo.
                </p>                
                <p>
                  Dirigenti e medici arrivano anche a redditi annui di
                  100.000 euro, mentre chi lavora nel settore
                  domestico e assistenziale (badanti, colf, baby
                  sitter) spesso guadagna meno di 10.000 euro e il più
                  delle volte non beneficia di un contratto regolare.
                  </p>
                <p>
                  Anche se lo stipendio medio in Italia e’ di quasi 30
                  mila euro, il 67% dei lavoratori dipendenti
                  percepisce uno stipendio inferiore ai 31 mila euro e
                  solo il 6,4% guadagna più di 40 mila euro.
                </p>
                <p>
                  Senti anche tu che in tutto questo c’è qualcosa che non va?
                  </p>
            </div>
        </div>
    </section>
