    <section id="approfondimenti" class="content-section">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <h2>Approfondimenti</h2>
                  <h3>Articoli</h3>
                  <h4>Covid e disuguaglianza</h4>
                  <ul class="deepening">
                    <li><a target='_blank' href='https://www.eticaeconomia.it/il-lockdown-e-la-disuguaglianza-in-italia/'>Eticaeconomia: Il lockdown e la disuguaglianza in Italia</a></li>
                    <li>
                        <a target='_blank' href='https://www.ilsole24ore.com/art/coronavirus-censis-tenore-vita-peggiora-76-milioni-italiani-600mila-poveri-piu-ADmVY23?refresh_ce=1'>Il Sole 24 Ore: Coronavirus, Censis: tenore di vita peggiora per 7,6 milioni di italiani, 600mila poveri in più</a>
                        </li>
                      <li>
                        <a target='_blank' href='https://www.ilfattoquotidiano.it/2020/04/24/disuguaglianze-sale-il-divario-tra-ricchi-e-poveri-in-italia-e-il-coronavirus-peggiorera-le-cose/5779724/'>Il Fatto Quotidiano: Disuguaglianze, sale il divario tra ricchi e poveri in Italia. E il coronavirus peggiorerà le cose</a>
                      </li>
                    </ul>
                    <h4>Bias ed effetti sulla persona</h4>
                    <ul class="deepening">
                      <li><a target='_blank' href='https://www.eticaeconomia.it/meritocrazia-merito-e-disuguaglianze/'>Eticaeconomia: Meritocrazia, merito e disuguaglianze </a></li>
                      <li>
                        <a target='_blank' href='https://www.saluteinternazionale.info/2019/01/gli-effetti-psicologici-delle-diseguaglianze/'>Salute Internazionale: Gli effetti psicologici delle diseguaglianze</a>
                      </li>

                      <li>
                        <a target='_blank' href='https://www.letture.org/le-radici-psicologiche-della-disuguaglianza-chiara-volpato'>Letture.org: "Le radici psicologiche della disuguaglianza" di Chiara Volpato</a>
                      </li>
                    </ul>
                    <h4>Dati e analisi</h4>
                      <ul class="deepening">
                      <li>
                        <a target='_blank' href='http://www.ildatomancante.it/opendata/popolazione/799/la-grande-fuga-salute-ricchezza-e-origini-della-disuguaglianza-in-italia/'>Il dato mancante: La Grande Fuga – Salute, ricchezza e origini della disuguaglianza in Italia</a></li>
                      <li>
                        <a target='_blank' href='https://www.economiaepolitica.it/in-punta-di-teoria/i-ricchi-hanno-stravinto/'>
                          Economia e Politica: I ricchi hanno stravinto
                        </a>
                      </li>
                      <li>
                        <a target='_blank' href='https://www.ilpost.it/2019/04/06/forun-disuguaglianze-barca/'>Il Post: 15 idee contro le diseguaglianze</a>
                      </li>
                      <li>
                        <a target='_blank' href='https://www.onuitalia.it/sdg/10-ridurre-le-disuguaglianze/'>
                          ONU Italia - Perché occuparsi di disuguaglianza?
                        </a>
                      </li>
                      <li>
                        <a target='_blank' href='https://www.forumdisuguaglianzediversita.org/wp-content/uploads/2020/12/Grafico-del-giorno_7-Dicembre.x39314.pdf'>Forum Disuguaglianza e diversità: L’evoluzione delle disuguaglianze di reddito e di ricchezza in Italia</a>
                      </li>
                      <li>
                        <a target='_blank' href='https://www.intereconomics.eu/contents/year/2016/number/2/article/the-engines-of-inequality.html'>
                          Intereconomics - The Engines of Inequality
                        </a>
                      </li>
                      <li>
                        <a target='_blank' href='https://www.eurofound.europa.eu/it/publications/report/2017/income-inequalities-and-employment-patterns-in-europe-before-and-after-the-great-recession'>
                          Eurofond - Income inequalities and employment patterns in Europe before and after the Great Recession
                        </a>
                      </li>

                    </ul>
                    <h3>Saggi</h3>
                    <ul class="deepening">
                      <li><a target='_blank' href="https://www.laterza.it/scheda-libro/?isbn=9788858135778">Le radici psicologiche della disuguaglianza - Chiara Volpato</a></li>
                      <li><a target='_blank' href="https://www.bompiani.it/catalogo/il-capitale-nel-xxi-secolo-9788845297458">Il capitale nel XXI Secolo - Thomas Piketty</a></li>
                      <li>
                        <a target='_blank' href='https://link.springer.com/chapter/10.1057/9780230116269_7'>
                          Big Man, Big Heart? The Political Role of Aggrandizers in Egalitarian and Transegalitarian Societies - Brian Hayden
                        </a>
                      </li>
                    </ul>
                    <h3>Film</h3>
                    <ul>
                      <li><a target='_blank' href="https://www.youtube.com/watch?v=9zFKmA3aQtg">La camera (da "Le coppie")</a></li>
                      <li><a target='_blank' href="https://www.youtube.com/watch?v=Cp0jBRfcysA">Sorry we missed you</a></li>
                      <li><a target="_blank" href="https://www.youtube.com/watch?v=V4P_zuz2Gb8">Io, Daniel Blake</a></li>
                      <li><a target="_blank" href="https://www.youtube.com/watch?v=iPOugEDF8tk">Parasite</a></li>
                      <li><a target='_blank' href="https://www.youtube.com/watch?v=ggGgMQGtgvo">Father and Son</a></li>
                      <li><a target="_blank" href="https://www.youtube.com/watch?v=dMzhD4mj5T4">Ferro 3 - La casa vuota</a></li>
                      <li><a target="_blank" href="https://www.youtube.com/watch?v=fC8pFy-MVDM">Durian Durian</a></li>
                      <li><a target='_blank' href="https://www.youtube.com/watch?v=LGerZCQwvjE">A simple life</a></li>
                      <li><a target='_blank' href="https://www.youtube.com/watch?v=qNwTnicZekM">Pietà</a></li>
                      <li><a target='_blank' href="https://www.youtube.com/watch?v=doPIGdBaGy4">Son of Sofia</a></li>
                      <li><a target='_blank' href="https://www.youtube.com/watch?v=l_BYvvf31ps">Cat in the wall</a></li>
                      <li><a target='_blank' href="https://www.youtube.com/watch?v=jzZ1ALIH7Po">Joker</a></li>
                      <li><a target='_blank' href="https://www.youtube.com/watch?v=1nbBpVo9_pg&t=1s">L'enfant</a></li>
                      <li><a target='_blank' href="https://www.youtube.com/watch?v=skMglb82PwQ">The Constitution - Due insolite storie d'amore</a></li>
                      </ul>
                </div>
            </div>
        </div>
    </section>
    <center>
      <img id='approfondimentispace' width='50%'/>
    </center>
