    <section id="contacts" class="content-section">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <h2>Contatti</h2>
                  <p>
                    <a class='colorlink' href='https://stefanoboring.org'>Stefano</a> e
                    <a class='colorlink' href='https://ivanotalamo.com'>Ivano</a> hanno fondato nel
                  2009 il duo artistico boring&sad, focalizzato sull'incontro fra scienza, tecnologia e arte.
                  </p>
                  <p>
                    Se hai voglia di condividere la tua opinione o di dare suggerimenti,
                    invia pure un messaggio utilizzando questo form.
</p>
                <form action="https://getform.io/f/01f9e538-ac58-4090-a295-f106644854e1" method="POST">
                    <p>
                      Oggetto: <input type="text" name="name">
                      </p>
                    <p>
                      Tua mail: <input type="email" name="email">
                    </p>
                    
                    <p>
                    Messaggio:
                  <textarea name="message" rows="10" cols="50" id='msgcontent'>
                  </textarea>
                    </p>
  <button type="submit" id="submitbutton">Invia</button>
</form>
                </div>
            </div>
        </div>
    </section>
