    <!-- Download Section -->
    <section id="faiqualcosa" class="content-section">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <h2>Fai Qualcosa</h2>
                  <ul class="dosomething">
                    <li><a class="page-scroll colorlink"
                    href='#approfondimenti'>Approfondisci</a> e
                    discuti con gli altri dell’argomento;</li>
                    <li>Se fai parte delle persone avvantaggiate,
                    stabilisci una quota del tuo reddito da devolvere
                    mensilmente a un’associazione che si occupa di
                    povertà;</li>
                    <li>Se presso di te lavora un/a
                    collaboratore/collaboratrice domestico/a, un/a
                    baby-sitter o un/a badante, falle un contratto
                    regolare e garantiscile un tenore di vita
                    dignitoso senza rifarti al minimo del CCNL;</li>
                    <li>Se hai il potere di decidere i salari, fallo
                      riducendo le disuguaglianze note;</li>
                    <li>Diffondi le piattaforme che consentono di migliorare
                      la propria formazione gratuitamente o a costi contenuti,
                      come <A HREF='https://www.khanacademy.org'>Khan Academy</A>,
                      <A HREF='https://www.coursera.org'>Coursera</A>,
                      <A HREF='https://www.udemy.com'>Udemy</A>.

                    <li>Se hai voglia di contribuire a questo progetto
                    <a class="page-scroll colorlink" href="#contacts">contattaci</a> tramite il form in basso.</li>
                </div>
            </div>
        </div>
    </section>
    <center>
      <img id='faiqualcosaspace' width='70%'/>
    </center>
