    <!-- Download Section -->
    <section id="faiqualcosa" class="content-section">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <h2>Fai Qualcosa</h2>
                  <ul class="dosomething">
                    <li><a class="page-scroll"
                    href='#approfondimenti'>Approfondisci</a> e
                    discuti con gli altri dell’argomento;</li>
                    <li>Se fai parte delle persone avvantaggiate,
                    stabilisci una quota del tuo reddito da devolvere
                    mensilmente a un’associazione che si occupa di
                    povertà;</li>
                    <li>Se presso di te lavora un/a
                    collaboratore/collaboratrice domestico/a, un/a
                    baby-sitter o un/a badante, falle un contratto
                    regolare e garantiscile un tenore di vita
                    dignitoso senza rifarti al minimo del CCNL;</li>
                    <li>Se hai il potere di decidere i salari, fallo
                    riducendo le disuguaglianze note;</li>
                    <li>Se hai intenzione di scrivere o hai scritto un
                    articolo sul tema contattaci;</li>
                    <li>Scrivici il tuo pensiero.</li>
                </div>
            </div>
        </div>
    </section>
